<?php

$a = $PARAMS['alumno'];
$id = $a->get_id();
$d = $a->get_datos();
$past = $PARAMS['past']->get_items();
$present = $PARAMS['present']->get_items();
$future = $PARAMS['future']->get_items();


$print_evaluacion = function($e, $can_play = false) use ($id) {
	$p = $e->get_periodo();
	$a = $p->get_inicio();
	$b = $p->get_termino();
?>
<section>
	<h3>Evaluación <a href="<?=
		"/alumnos/$id/evaluaciones/".$e->get_id();
	?>"><?= htmlspecialchars($e->get_nombre()); ?></a></h3>

<?php
	if ($can_play) {
?>
	<p><a href="<?=
		"/alumnos/$id/evaluaciones/".$e->get_id();
	?>">Jugar</a></p>
<?php
	}
?>

	<dl>
	<dt>Periódo</dt>
	<dd><?= htmlspecialchars(
		$a->format('Y-m-d H:i:s').' a '.
		$b->format('Y-m-d H:i:s')); ?></dd>

	<dt>Intentos por juego</dt>
	<dd><?= $e->get_intentos(); ?></dd>
	</dl>
</section>
<?php
}


?>
<h1>Tus evaluaciones <em><?= htmlspecialchars($d->get_nombre()); ?></em></h1>

<ul>
<li><a href="#actual">Actuales</a></li>
<li><a href="#por_venir">Por venir</a></li>
<li><a href="#pasadas">Pasadas</a></li>
</ul>

<article id="actual">
	<h2>Actuales</h2>
<?php
	foreach ($present as $v)
		$print_evaluacion($v, true);
?>
</article>


<article id="por_venir">
	<h2>Por venir</h2>
<?php
	foreach ($future as $v)
		$print_evaluacion($v);
?>
</article>


<article id="pasadas">
	<h2>Pasadas</h2>
<?php
	foreach ($past as $v)
		$print_evaluacion($v);
?>
</article>
