<?php

$a = $PARAMS['alumno'];
$id = $a->get_id();
$d = $a->get_datos();
$e = $PARAMS['evaluacion'];
$eid = $e->get_id();
$js = $PARAMS['juegos'];

$can_play =
	$e->get_periodo()->get_inicio()->getTimestamp() <= time() &&
	time() <= $e->get_periodo()->get_termino()->getTimestamp();


$print_juego = function($j, $p, $c, $t) use ($id, $eid, $can_play) {
?>
<section>
	<h3><?= htmlspecialchars($j->get_nombre_completo()); ?></h3>
	<p>Puntaje <?= $p->get_puntaje(); ?></p>
	<p>Intentos <?= $c; ?>/<?= $t; ?></p>

<?php
	if ($can_play && $c < $t) {
?>
	<p><a href="<?=
		"/alumnos/$id/evaluaciones/$eid/".$j->get_nombre();
	?>">Jugar</a></p>
<?php
	} else {
?>
	<p>No puedes jugar esto</p>
<?php
	}
?>

</section>
<?php
}


?>
<h1>Evaluación <em><?= htmlspecialchars($e->get_nombre()); ?></em></h1>
<p><a href="<?=
	"/reporte/alumnos/$id/evaluaciones/$eid";
?>">Reporte</a></p>

<?php
foreach ($js as $v)
	$print_juego(
		$v['juego'],
		$v['puntaje'],
		$v['intento'],
		$v['intentos']);
?>
