<?php

$a = $PARAMS['alumno'];
$id = $a->get_id();
$d = $a->get_datos();
$e = $PARAMS['evaluacion'];
$eid = $e->get_id();
$j = $PARAMS['juego'];
$puntaje = $PARAMS['puntaje'];
$intento = $PARAMS['intento'];
$intentos = $PARAMS['intentos'];

$can_play =
	$e->get_periodo()->get_inicio()->getTimestamp() <= time() &&
	time() <= $e->get_periodo()->get_termino()->getTimestamp() &&
	$intento < $intentos;


?>
<section>
	<h3><?= htmlspecialchars($j->get_nombre_completo()); ?></h3>
	<p>Puntaje <span id="puntaje"><?=
		$puntaje->get_puntaje();
	?></span></p>
	<p>Intentos <span id="intento"><?=
		$intento;
	?></span>/<span id="intentos"><?=
		$intentos;
	?></span></p>
	<p id="stat"><p>


	<style>
	#stat {
		display: none;
		padding: 0.5em 1em;
	}
	.error {
		display: block !important;
		background-color: #f00;
		color: #fff;
	}
	</style>
<?php
	if ($can_play)
		echo "\t<article class=\"game\" ".
			"id=\"{$j->get_nombre()}\"></article>";
	else
		echo "\t<p>No puedes jugar, lo siento</p>";
?>

</section>

<script>
var intento = <?= $intento; ?>;
var intentos = <?= $intentos; ?>;
function gamestart() {
	console.log('started', '<?= $j->get_nombre(); ?>');
}
function gameover(aciertos, ejercicios) {
	if (intentos <= intento)
		alert('Ya no puedes seguir jugando');
	console.log('over', '<?= $j->get_nombre(); ?>', aciertos, ejercicios);
	intento++;

	var text_intento = document.getElementById('intento');
	var text_intentos = document.getElementById('intentos');
	var text_puntaje = document.getElementById('puntaje');
	var text_stat = document.getElementById('stat');

	var url = '<?=
		"/alumnos/$id/evaluaciones/$eid/{$j->get_nombre()}"; ?>';
	var xhr = new XMLHttpRequest();
	xhr.open('POST', url, true);
	xhr.onload = function () {
		var data = JSON.parse(this.responseText);
		if (400 == this.status || 403 == this.status) {
			text_stat.innerHTML = data._error;
			text_stat.className = 'error';
			return;
		}
		if (201 != this.status) {
			console.log(data);
			return;
		}
		text_intento.innerHTML = data.intento + 1;
		text_intentos.innerHTML = data.intentos;
		text_puntaje.innerHTML = data.maximo;
		text_stat.className = '';
	};
	xhr.onerror = function() {
		console.log('POST', url, this);
	};
	xhr.setRequestHeader('Accept', 'application/json');
	xhr.setRequestHeader('Content-Type',
		'application/json; charset=UTF-8');
	xhr.send(JSON.stringify({
		aciertos: aciertos,
		ejercicios: ejercicios,
	}));
}
</script>
