<?php

$a = $PARAMS['alumno'];
$id = $a->get_id();
$d = $a->get_datos();
$escol = $d->get_escolaridad();
$e = $PARAMS['evaluacion'];
$eid = $e->get_id();
$ps = $PARAMS['puntajes'];

$escuela = $PARAMS['escuela']->get_nombre();
$nivel = ucwords($escol->get_nivel());
$grado = $escol->get_grado();
$grupo = ucwords($escol->get_grupo());


?>

<style>
th, td {
	text-align: center;
}
</style>

<h1 id="stat">Reporte de alumna/o <em><?=
	htmlspecialchars($d->get_nombre())." ".
	htmlspecialchars($d->get_apellido_pat())." ".
	htmlspecialchars($d->get_apellido_mat());
?></em></h1>

<section>
	<h2>Evaluación <em><?=
		htmlspecialchars($e->get_nombre());
	?></em></h2>
	<p>Escuela <em><?=
		htmlspecialchars($escuela);
	?></em></p>
	<p>Grado <em><?=
		htmlspecialchars($nivel)." ".
		htmlspecialchars($grado).
		htmlspecialchars($grupo).
		"";
	?></em></p>
	<button onclick="generate(true)">Descarga como PDF</button>
	<button onclick="generate(false)">Visualizar PDF</button>
	<table>
	<thead>
		<tr>
		<th>Juego</th>
		<th>Puntaje</th>
		</tr>
	</thead>
	<tbody>
<?php
	foreach ($ps as $p) {
		echo "\t\t<tr>\n";
		echo "\t\t<td>{$p['juego']->get_nombre_completo()}</td>\n";
		echo "\t\t<td>{$p['puntaje']->get_puntaje()}</td>\n";
		echo "\t\t</tr>\n";
	}
?>
	</tbody>
	</table>
</section>

<script>
var nombre = '<?=
		$d->get_nombre()." ".
		$d->get_apellido_pat()." ".
		$d->get_apellido_mat();
?>';
var evaluacion = '<?= $e->get_nombre(); ?>';
var escuela = '<?= ucwords($escuela); ?>';
var nivel = '<?= ucwords($escol->get_nivel()); ?>';
var grado = '<?= $escol->get_grado(); ?>';
var grupo = '<?= $escol->get_grupo(); ?>'.toUpperCase();
function generate(download) {
	var doc = new jsPDF('p', 'pt');

	doc.line(15, 35, 575, 30);
	doc.line(15, 55, 575, 50);
	doc.text("Reporte de " + nombre, 40, 50);
	doc.setFontSize(10);
	doc.text("Evaluación " + evaluacion, 40, 70);
	doc.text("Escuela " + escuela, 40, 90);
	doc.text("Grado " + nivel + " " + grado + grupo, 40, 110);

	var cols = [
		{title: 'Juego',   dataKey: 'juego'},
		{title: 'Puntaje', dataKey: 'puntaje'},
	];

	var rows = [
<?php
	foreach ($ps as $p) {
		echo "\t\t{\n";
		echo "\t\t\tjuego: '{$p['juego']->get_nombre_completo()}',\n";
		echo "\t\t\tpuntaje: '{$p['puntaje']->get_puntaje()}',\n";
		echo "\t\t},\n";
	}
?>
	];

	doc.autoTable(cols, rows, {
		startY: 130,
		margin: {left: 150, right: 150},
		styles: {
			halign: 'center',
		},
	});

	if (download)
		doc.save('reporte-' + evaluacion);
	else
		doc.output('datauri');
}
</script>
