<h1>Escuelas</h1>


<style>
#search-table { width: 50em; }
#upload-table { width: 50em; }
td {
	text-align: center;
}
</style>


<nav>
<ul>
<li><a href="#escuela-upload">Registrar escuelas</a></li>
<li><a href="#escuela-search">Buscar escuelas registrados</a></li>
</ul>
</nav>


<article id="escuela-upload">
<h2>Registrar escuelas</h2>

<h3>Subir archivos de Excel</h3>
<form action="/escuelas" method="post" id="upload-form">
<fieldset>

	<label><em>De archivo</em>
	<input type="file" id="upload-filelist" name="upload-filelist" multiple>
	</label>
	<br>

	<label><em>Agregar escuela</em>
	<input id="upload-item" name="upload-item"
		title="Escuela"
		placeholder="Escuela"
		required>
	<button type="submit" id="upload-item-add">Agregar</button>
	</label>
	<br>

	<table id="upload-table">
		<caption>Escuelas
			<span class="item-start"
			>0</span>-<span class="item-end"
			>0</span> de <span class="item-total"
			>0</span>
		</caption>
	<thead>
		<tr>
		<th>Escuela</th>
		<th>Estado</th>
		<th>Archivo</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
	<tr><td colspan="3">
		<button class="page-first">|&lt;</button>
		<button class="page-prev">&lt;</button>
		<span class="page-any">
			Página <input
				class="page-input"
				type="text"
			> de <span
				class="page-total"
			>0</span>
		</span>
		<button class="page-next">&gt;</button>
		<button class="page-last">&gt;|</button>
	</td></tr>
	</tfoot>
	</table>

	<output for="upload-filelist" id="upload-filelist-out"></output>
	<br>
	<progress value="100" max="100" id="upload-progress"></progress>
	<br>
	<button type="submit" id="upload-register">Registrar todos</button>
	<button type="reset" id="upload-reset">Limpiar formulario</button>
</fieldset>
</form>
</article>

<script>
window.addEventListener('load', function() {
	var table = document.getElementById('upload-table');
	var infile_list = document.getElementById('upload-filelist');
	var outfile_list = document.getElementById('upload-filelist-out');
	var initem = document.getElementById('upload-item');
	var bitem_add = document.getElementById('upload-item-add');
	var bregister = document.getElementById('upload-register');
	var breset = document.getElementById('upload-reset');
	var progress = document.getElementById('upload-progress');

	var pager;
	var limit = 5;
	var items = [];
	var xhr_max = 100;
	var xhr_list = [];

	var xhr_register = function(i) {
		var url = '/escuelas';
		var xhr = new XMLHttpRequest();
		xhr_list.push(xhr);
		xhr.open('POST', url, true);
		xhr.onload = function () {
			var data = JSON.parse(this.responseText);
			if (400 == this.status)
				items[i].estado = 'Ya registrado!';
			else if (403 == this.status)
				items[i].estado = 'Denegado';
			else
				items[i].estado = 'Registro exitoso';
				pager.page(Math.floor(i/limit));
			progress.value++;
			xhr_list.splice(xhr_list.indexOf(this), 1);
			if (i === items.length - 1) {
				bregister.disabled = false;
				breset.disabled = false;
			}
		};
		xhr.onerror = function() {
			console.log('POST', url, this);
		};
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.setRequestHeader('Content-Type',
			'application/json; charset=UTF-8');
		xhr.send(JSON.stringify({
			nombre: items[i].nombre,
		}));
	};

	bregister.addEventListener('click', function(e) {
		e.preventDefault();
		if (!items.length)
			return;
		var i = 0;
		var timeout = 100;
		progress.max = items.length;
		progress.value = 0;
		var register = function() {
			if (items.length <= i)
				return;
			if (xhr_max <= xhr_list.length) {
				setTimeout(register, timeout);
				return;
			}
			xhr_register(i++);
			setTimeout(register, timeout);
		};
		setTimeout(register, 10);
		bregister.disabled = true;
		breset.disabled = true;
	});

	breset.addEventListener('click', function() {
		items = [];
		pager.total(items.length);
		pager.page(-1);
	});

	var X = XLSX_JSON(XLSX);

	var file_add = function(arr, file) {
		var repeated = 0;

		progress.max = arr.length;
		progress.value = 0;
		for (var i = 0; i < arr.length; i++) {
			var c = arr[i].trim();
			var found = false;
			for (var j = 0, len = items.length; j < len; j++) {
				if (items[j].nombre != c)
					continue;
				items[j].estado = 'Por registrar';
				items[j].archivo = file.name;
				found = true;
				repeated++;
				break;
			}
			progress.value++;
			if (found)
				continue;
			items.push({
				nombre: c,
				estado: 'Por registrar',
				archivo: file.name,
			});
		}

		outfile_list.innerHTML +=
			'<li>Archivo: ' + file.name + ', ' +
			'tamaño: ' + file.size + ', ' +
			'escuelas encontradas: ' + arr.length + ', ' +
			'repetidos: ' + repeated + '</li>';

		pager.total(items.length);
		pager.page(-1);
	};

	infile_list.addEventListener('change', function() {
		outfile_list.innerHTML = '';
		var list = this.files;
		for (var i = 0; i < list.length; i++) {
			X.input2xlsx2arr(list[i], /escuela/gi, (function(f) {
				return function(arr) {
					file_add(arr, f);
				};
			})(list[i]));
		}
	});

	bitem_add.addEventListener('click', function(e) {
		e.preventDefault();
		if ((initem.value + '').length == 0)
			return false;
		var c = (initem.value + '').trim();
		for (var i = 0, len = items.length; i < len; i++) {
			if (items[i].nombre != c)
				continue;
			initem.value = '';
			items[i].estado = 'Por registrar';
			items[i].archivo = 'Formulario';
			return;
		}
		items.push({
			nombre: initem.value + '',
			estado: 'Por registrar',
			archivo: 'Formulario',
		});
		initem.value = '';
		pager.total(items.length);
		pager.page(-1);
	});

	var fill = function(offset, limit, td, cb) {
		var i;
		var j = 0;
		for (i = offset; i < offset + limit; i++) {
			var ii = i - offset;
			if (items.length <= i) {
				td[ii][0].innerHTML = '-';
				td[ii][1].innerHTML = '-';
				td[ii][2].innerHTML = '-';
				continue;
			}
			j++;
			td[ii][0].innerHTML = items[i].nombre;
			td[ii][1].innerHTML = items[i].estado;
			td[ii][2].innerHTML = items[i].archivo;
		}
		cb(j);
	};
	pager = TablePager({
		table: table,
		offset: 0,
		limit: limit,
		total: 0,
		onfirst: fill,
		onlast:  fill,
		onprev:  fill,
		onnext:  fill,
		onpage:  fill,
	});
	pager.page(0);

});
</script>



<article id="escuela-search">
<h2>Buscar escuelas registrados</h2>

<form action="/escuelas" method="post" id="search-form">
<fieldset>

	<label><em>Buscar cualquiera que contenga</em>
	<input id="search-input" name="search-input"
		title="Escuela"
		placeholder="Escuela">
	</label>

	<table id="search-table">
		<caption>Escuelas
			<span class="item-start"
			>0</span>-<span class="item-end"
			>0</span> de <span class="item-total"
			>0</span>
		</caption>
	<thead>
		<tr>
		<th>Escuelas</th>
		<th>Alumnos</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
	<tr><td colspan="2">
		<button class="page-first">|&lt;</button>
		<button class="page-prev">&lt;</button>
		<span class="page-any">
			Página <input
				class="page-input"
				type="text"
			> de <span
				class="page-total"
			>0</span>
		</span>
		<button class="page-next">&gt;</button>
		<button class="page-last">&gt;|</button>
	</td></tr>
	</tfoot>
	</table>

</fieldset>
</form>
</article>

<script>
window.addEventListener('load', function() {
	var input = document.getElementById('search-input');
	var table = document.getElementById('search-table');

	var limit = 5;
	var like = null;
	var usado = null;
	var pager;
	var xhr;

	var inflate = function(data, offset, limit, td, cb) {
		var total = data.total;
		var count = data.count;
		var items = data.items;
		var i;
		for (i = offset; i < offset + limit; i++) {
			var ii = i - offset;
			if (items.length <= ii) {
				td[ii][0].innerHTML = '-';
				td[ii][1].innerHTML = '-';
				continue;
			}
			var a = document.createElement('a');
				a.innerHTML = items[ii].nombre;
				a.href = '/admin/escuelas/'+ items[ii].id;
			td[ii][0].innerHTML = '';
			td[ii][0].appendChild(a);
			td[ii][1].innerHTML = items[ii].alumnos;
		}
		cb(i - offset);
	};

	var fill = function(offset, limit, td, cb) {
		var url = '/escuelas?' +
			'offset=' + encodeURIComponent(offset) + '&' +
			'limit=' + encodeURIComponent(limit) +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function() {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(this.responseText);
			inflate(data, offset, limit, td, cb);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	var refill = function() {
		var url = '/escuelas?' +
			'limit=' + encodeURIComponent(limit) +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');
		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function () {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(xhr.responseText);
			pager = TablePager({
				table: table,
				offset: 0,
				limit: limit,
				total: data.total,
				onfirst: fill,
				onlast:  fill,
				onprev:  fill,
				onnext:  fill,
				onpage:  fill,
			});
			pager.page(0);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	input.addEventListener('input', function() {
		like = input.value + '';
		like = 0 < like.length ? like:null;
		refill();
	});
	refill();

});
</script>
