<?php

$esc = $PARAMS['escuela'];
$esc_id = $esc->get_id();
$eva = $PARAMS['evaluacion'];
$eva_id = $eva->get_id();

$nivel = $PARAMS['nivel'];
$grado = $PARAMS['grado'];
$grupo = $PARAMS['grupo'];
$list = $PARAMS['list'];

?>
<h1>Escuela <em><?= htmlspecialchars($esc->get_nombre()); ?></em></h1>
<h2>Grupo <em><?=
	htmlspecialchars($grupo);
?></em> con <em><?=
	htmlspecialchars(count($list));
?></em> alumnos</h2>
<h2>Evaluación <em><?=
	htmlspecialchars($eva->get_nombre());
?></em></h2>


<style>
#search-table { width: 50em; }
#upload-table { width: 50em; }
td {
	text-align: center;
}
</style>


<article id="alumno-search">
<h3>Alumnos</h3>
<button onclick="generate(true)">Descarga como PDF</button>
<button onclick="generate(false)">Visualizar PDF</button>

<table>
	<caption>Alumnos</caption>
<thead>
	<tr>
	<th>Correo</th>
	<th>Nombre</th>
	<th>Puntaje</th>
	</tr>
</thead>
<tbody>
<?php
	for ($i = 0; $i < count($list); $i++) {
		$href = "/admin/alumnos/".$list[$i]['id'];
		echo "\t<tr>\n";
		echo "\t<td><a href=\"$href\">".
			$list[$i]['email'].
			"</a></td>\n";
		echo "\t<td>".
			htmlspecialchars($list[$i]['nombre'])." ".
			htmlspecialchars($list[$i]['apellido_pat'])." ".
			htmlspecialchars($list[$i]['apellido_mat']).
			"</td>\n";
		echo "\t<td>".
			$list[$i]['puntaje'].
			"</td>\n";
		echo "\t</tr>\n";
	}
?>
</tbody>
</table>

<script>
var evaluacion = '<?= $eva->get_nombre(); ?>';
var escuela = '<?= $escuela->get_nombre(); ?>';
var nivel = '<?= ucwords($nivel); ?>';
var grado = '<?= ucwords($grado); ?>';
var grupo = '<?= ucwords($grupo); ?>';

function generate(download) {
	var doc = new jsPDF('p', 'pt');

	doc.line(15, 35, 575, 30);
	doc.line(15, 55, 575, 50);
	doc.text("Reporte de la evaluación " + evaluacion, 40, 50);
	doc.setFontSize(10);
	doc.text("Escuela: " + escuela, 40, 70);
	doc.text("Nivel: " + nivel + " " + grado + grupo, 40, 90);

	var cols = [
		{title: 'Correo',  dataKey: 'email'},
		{title: 'Nombre',  dataKey: 'nombre'},
		{title: 'Puntaje', dataKey: 'puntaje'},
	];

	var rows = [
<?php
	foreach ($list as $l) {
		echo "\t\t{\n";
		echo "\t\t\temail: '".$l['email']."',\n";
		echo "\t\t\tnombre: '".
			$l['nombre']." ".
			$l['apellido_pat']." ".
			$l['apellido_mat']." ".
			"',\n";
		echo "\t\t\tpuntaje: '".$l['puntaje']."',\n";
		echo "\t\t},\n";
	}
?>
	];

	doc.autoTable(cols, rows, {
		startY: 130,
		margin: {left: 50, right: 50},
		styles: {
			halign: 'center',
		},
	});

	if (download)
		doc.save('reporte-' + evaluacion + '.pdf');
	else
		doc.output('datauri');
}
</script>

<!-- <pre><?= json_encode($list, JSON_PRETTY_PRINT); ?></pre> -->
