<?php

$esc = $PARAMS['escuela'];
$esc_id = $esc->get_id();
$g = $PARAMS['grupos']['grupos'];
$a = $PARAMS['grupos']['alumnos'];

$alumnos = 0;
foreach ($a as $v)
	$alumnos += $v['alumnos'] + 0;

?>
<h1>Escuela <em><?= htmlspecialchars($esc->get_nombre()); ?></em></h1>
<h2><em><?= htmlspecialchars($alumnos); ?></em> alumnos</h2>


<style>
#search-table { width: 50em; }
#upload-table { width: 50em; }
td {
	text-align: center;
}
</style>


<article id="grupo-search">
<h3>Grupos</h3>

<table id="search-table">
	<caption>Grupos</caption>
<thead>
	<tr>
	<th>Grupo</th>
	<th>Alumnos</th>
	</tr>
</thead>
<tbody>
<?php
	for ($i = 0; $i < count($g); $i++) {
		$href = "/admin/escuelas/$esc_id/".
			$g[$i]['nivel'].
			$g[$i]['grado'].
			$g[$i]['grupo'];
		echo "\t<tr>\n";
		echo "\t<td><a href=\"$href\">".
			ucwords($g[$i]['grupo']).
			"</a></td>\n";
		echo "\t<td>{$a[$i]['alumnos']}</td>\n";
		echo "\t</tr>\n";
	}
?>
</tbody>
</table>
