<?php

$esc = $PARAMS['escuela'];
$esc_id = $esc->get_id();
$grupo = $PARAMS['grupo'];
$list = $PARAMS['list'];

?>
<h1>Escuela <em><?= htmlspecialchars($esc->get_nombre()); ?></em></h1>
<h2>Grupo <em><?=
	htmlspecialchars($grupo);
?></em> con <em><?=
	htmlspecialchars(count($list));
?></em> alumnos</h2>
<p><a href="#alumno-search">Ver alumnos</a></p>
<p><a href="#evaluacion-search">Ver reportes de cada evaluación</a></p>


<style>
#search-table { width: 50em; }
#upload-table { width: 50em; }
td {
	text-align: center;
}
</style>


<article id="alumno-search">
<h3>Alumnos</h3>

<table>
	<caption>Alumnos</caption>
<thead>
	<tr>
	<th>Correo</th>
	<th>Nombre</th>
	</tr>
</thead>
<tbody>
<?php
	for ($i = 0; $i < count($list); $i++) {
		$href = "/admin/alumnos/".$list[$i]['id'];
		echo "\t<tr>\n";
		echo "\t<td><a href=\"$href\">".
			$list[$i]['email'].
			"</a></td>\n";
		echo "\t<td>".
			htmlspecialchars($list[$i]['nombre'])." ".
			htmlspecialchars($list[$i]['apellido_pat'])." ".
			htmlspecialchars($list[$i]['apellido_mat']).
			"</td>\n";
		echo "\t</tr>\n";
	}
?>
</tbody>
</table>



<article id="evaluacion-search">
<h3>Reportes de este grupo</h3>

<form action="#" id="search-form">
<fieldset>

	<label><em>Buscar cualquiera que contenga</em>
	<input id="search-input" name="search-input"
		pattern="^\S+$"
		title="Evaluación sin espacios"
		placeholder="Evaluación">
	</label>

	<label><em>Filtrar</em>
	<select id="search-type" name="search-type">
		<option value="any" selected>Todas</option>
		<option value="past">Pasadas</option>
		<option value="present">En curso</option>
		<option value="future">Por cursar</option>
	</select>
	</label>

	<table id="search-table">
		<caption>Evaluaciones
			<span class="item-start"
			>0</span>-<span class="item-end"
			>0</span> de <span class="item-total"
			>0</span>
		</caption>
	<thead>
		<tr>
		<th>Evaluación</th>
		<th>Periódo</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
	<tr><td colspan="2">
		<button class="page-first">|&lt;</button>
		<button class="page-prev">&lt;</button>
		<span class="page-any">
			Página <input
				class="page-input"
				type="text"
			> de <span
				class="page-total"
			>0</span>
		</span>
		<button class="page-next">&gt;</button>
		<button class="page-last">&gt;|</button>
	</td></tr>
	</tfoot>
	</table>

</fieldset>
</form>
</article>

<script>
window.addEventListener('load', function() {
	var input = document.getElementById('search-input');
	var type = document.getElementById('search-type');
	var table = document.getElementById('search-table');

	var limit = 5;
	var like = null;
	var time = null;
	var pager;
	var xhr;

	var date_format = function(date) {
		var D = new Date(date);
		var y = D.getFullYear();
		var m = D.getMonth() + 1;
		var d = D.getDate();
		return y + '-' +
			(m < 10 ? '0' + m:m) + '-' +
			(d < 10 ? '0' + d:d);
	};

	var inflate = function(data, offset, limit, td, cb) {
		var total = data.total;
		var count = data.count;
		var items = data.items;
		var i;
		for (i = offset; i < offset + limit; i++) {
			var ii = i - offset;
			if (items.length <= ii) {
				td[ii][0].innerHTML = '-';
				td[ii][1].innerHTML = '-';
				continue;
			}
			var sub = document.createElement('sub');
			var a = document.createElement('a');
				sub.innerHTML = 'Reporte';
				a.appendChild(sub);
				a.href = window.location.href +
					'/evaluaciones/' + items[ii].id;
			td[ii][0].innerHTML = items[ii].nombre;
			td[ii][0].appendChild(a);
			td[ii][1].innerHTML = '' +
				date_format(items[ii].fecha_inicio) + ' a ' +
				date_format(items[ii].fecha_termino);
		}
		cb(i - offset);
	};

	var fill = function(offset, limit, td, cb) {
		var url = '/evaluaciones?' +
			'offset=' + encodeURIComponent(offset) + '&' +
			'limit=' + encodeURIComponent(limit) +
			(null !== time ?
				'past' == time ? '&before=now':
				'present' == time ? '&in=now':
				'future' == time ? '&after=now':
					'':
				'') +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function() {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(this.responseText);
			inflate(data, offset, limit, td, cb);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	var refill = function() {
		var url = '/evaluaciones?' +
			'limit=' + encodeURIComponent(limit) +
			(null !== time ?
				'past' == time ? '&before=now':
				'present' == time ? '&in=now':
				'future' == time ? '&after=now':
					'':
				'') +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function () {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(xhr.responseText);
			pager = TablePager({
				table: table,
				offset: 0,
				limit: limit,
				total: data.total,
				onfirst: fill,
				onlast:  fill,
				onprev:  fill,
				onnext:  fill,
				onpage:  fill,
			});
			pager.page(0);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	input.addEventListener('input', function() {
		like = input.value + '';
		like = 0 < like.length ? like:null;
		refill();
	});
	type.addEventListener('change', function() {
		switch (type.value + '') {
		case 'any': time = null; break;
		case 'past': time = 'past'; break;
		case 'present': time = 'present'; break;
		case 'future': time = 'future'; break;
		}
		refill();
	});
	refill();

});
</script>
