<?php

$esc = $PARAMS['escuela'];
$esc_id = $esc->get_id();
$g = $PARAMS['grupos']['grupos'];
$p = $PARAMS['grupos']['puntajes'];

?>
<h1>Escuela <em><?= htmlspecialchars($esc->get_nombre()); ?></em></h1>
<h2><em><?= htmlspecialchars($esc->get_alumnos()); ?></em> alumnos</h2>


<style>
#search-table { width: 50em; }
#upload-table { width: 50em; }
td {
	text-align: center;
}
</style>


<article id="grupo-search">
<h3>Niveles</h3>

<table id="search-table">
	<caption>Niveles</caption>
<thead>
	<tr>
	<th>Nivel y grado</th>
	<th>Alumnos</th>
	</tr>
</thead>
<tbody>
<?php
	for ($i = 0; $i < count($g); $i++) {
		$href = "/admin/escuelas/$esc_id/".
			$g[$i]['nivel'].
			$g[$i]['grado'];
		echo "\t<tr>\n";
		echo "\t<td><a href=\"$href\">".
			"{$g[$i]['nivel']} {$g[$i]['grado']}".
			"</a></td>\n";
		echo "\t<td>{$g[$i]['alumnos']}</td>\n";
		echo "\t</tr>\n";
	}
?>
</tbody>
</table>
