* { doutline: 1px red dotted; }

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-family: 'Mitr', monospace, Verdana, Geneva, sans-serif;
}

body > * {
	margin: auto;
}

#nav-menu {
	max-width: 50em;
	padding: 0 0.5em;
}

#nav-menu ul {
	padding: 0;
	list-style-type: none;
}

#nav-menu li {
	display: inline-block;
}

#nav-menu a {
	padding: 0.75em;
	display: block;
	text-decoration: none;
	background-color: hsl(94, 77%, 65%);
	color: #222;
}
#nav-menu a:hover {
	background-color: hsl(94, 77%, 85%);
	color: #222;
}
#nav-menu a:active {
	background-color: hsl(94, 77%, 95%);
	color: #222;
}

#nav-breadcrumb {
	position: relative;
	margin-top: 1em;
	left: 10em;
	right: 10em;
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 0.5em;
}

#nav-breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	color: white;
	padding: 1em;
	padding-left: 3em;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}

#nav-breadcrumb a:first-child {
	border-radius: 0.5em 0 0 0.5em;
	padding: 1em;
}
#nav-breadcrumb a:first-child:before {
	left: 1em;
}
#nav-breadcrumb a:last-child {
	border-radius: 0 0.5em 0.5em 0;
}

#nav-breadcrumb a.active,
#nav-breadcrumb a:hover {
	background: #333;
	background: linear-gradient(#333, #000);
}
#nav-breadcrumb a.active:after,
#nav-breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

#nav-breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0;
	right: -1.5em;
	width: 3em;
	height: 3em;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	box-shadow:
		2px -2px 0 2px rgba(0, 0, 0, 0.4),
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	border-radius: 0 5px 0 50px;
}
#nav-breadcrumb a:last-child:after {
	content: none;
}
#nav-breadcrumb a:before {
	border-radius: 100%;
	width: 2em;
	height: 2em;
	line-height: 1em;
	margin: 0.5em 0;
	position: absolute;
	top: 0;
	left: 2em;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}

#nav-breadcrumb a,
#nav-breadcrumb a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
#nav-breadcrumb a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
#nav-breadcrumb a:hover,
#nav-breadcrumb a.active,
#nav-breadcrumb a:hover:after,
#nav-breadcrumb a.active:after{
	background: #9EEB62;
}

#content {
	max-width: 70em;
	margin: auto;
}


form label {
	width: 100%;
	display: block;
}
form label em {
	display: inline-block;
	text-align: right;
	padding-right: 1em;
	width: 40%;
}
form label em:after {
	content: ':';
}
form label em + input,
form label em + div {
	width: 40%;
}
form label em + div input {
	width: 100%;
}
button,
input,
select {
	margin: 0.3em 0;
	margin-left:  auto;
	margin-right:  auto;
	padding: 0.5em 1em;
	border: 1px solid #333;
	border-radius: 1em 1em 2em 2em;
	background-color: #fff;
}
input {
	box-shadow: inset 0 1px 2px 2px #ccc;
}
fieldset {
	margin-top: 1em;
}
fieldset:hover legend {
	background: #9EEB62;
}
legend {
	font-size: 1.3em;
	padding: 0.5em;
	border: 1px solid #333;
	border-radius: 2em 2em 1em 1em;
}


button:hover,
button:active {
	background: #9EEB62;
}
button:hover,
button:active,
select:hover {
	cursor: pointer;
}
button:hover:disabled,
select:hover:disabled {
	cursor: default;
}

progress {
	width: 100%;
	margin: auto;
}

/* TABLE */
table {
	margin: auto;
	border-collapse: collapse;
}

table caption {
	text-align: left;
	border-bottom: 0.3em black solid;
}

table tbody {
	border-top: 0.3em black solid;
}

table tfoot {
	border-top: 0.3em black solid;
}

tr:not(:last-child) {
	border-bottom: 1px grey solid;
}

th, td {
	padding: 0.5em 2em;
}

tfoot.nav tr td {
	position: relative;
}

tfoot.nav .first,
tfoot.nav .prev,
tfoot.nav .next,
tfoot.nav .last {
	position: absolute;
	width: 1em;
	font-weight: bold;
	font-size: 1.5em;
}
tfoot.nav .first { left: 1em; top: 0; }
tfoot.nav .prev  { left: 3em; top: 0; }
tfoot.nav .next  { right: 3em; top: 0; }
tfoot.nav .last  { right: 1em; top: 0; }


/* ALUMNOS */
#content > h1 {
	padding: 0.2em 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
#alumno-evaluacion-list #content > article {
	margin-top: 2em;
	padding: 0.5em 1.5em;
	border: 1px solid #333;
	border-radius: 1.5em;
}
#alumno-evaluacion-list #content > article > h2 {
	padding: 0.2em 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
#alumno-evaluacion-list #content > article section {
	display: inline-block;
	width: 49%;
	margin-bottom: 1em;
	padding: 0.5em 1.5em;
	border: 1px solid #333;
	border-radius: 1.5em;
}
#alumno-evaluacion-list #content > article section > h3 {
	padding: 0.2em 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

#alumno-evaluacion #content > section,
#alumno-entrenamiento #content > section {
	display: inline-block;
	width: 49%;
	margin-bottom: 1em;
	padding: 0.5em 1.5em;
	border: 1px solid #333;
	border-radius: 1.5em;
}

#alumno-evaluacion-juego .game,
#alumno-entrenamiento-juego .game {
	margin-top: -6em;
}


input,
output {
	font-family: 'Cousine', monospace;
}

canvas {
	position: absolute;
	z-index: -1;
}

.game {
	font-size: 1.2em;
}

.game h1 {
	text-align: center;
	font-size: 1.6em;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

.game button,
.game input {
	font-size: 1.1em;
	display: block;
	margin: 1em 0;
	margin-left:  auto;
	margin-right:  auto;
	background-color: #fff;
	padding: 0.5em 1em;
	cursor: pointer;
	border: 1px solid #333;
	border-radius: 1em;
}
.game button {
	box-shadow: 0 1px 1px 0px #222;
}
.game button:hover {
	box-shadow: 0 1px 0px 0px #222;
	background-color: #efe;
}
.game button:active {
	position: relative;
	top: 0.2em;
	background-color: #eff;
	box-shadow: 0 0 0 0 #222;
}
.game button:disabled,
.game input:disabled {
	cursor: default;
	color: #bbb;
	border: 1px solid #999;
}

.game .menu label {
	margin-top: 0.5em;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.game .menu label em::after {
	content: ':';
}

.game .menu label em {
	display: inline-block;
	padding: 1em;
	text-align: right;
	font-style: normal;
}

.game .menu label select {
	padding: 0.5em 1em;
	cursor: pointer;
	border: 1px solid gray;
	border-radius: 1em;
	font-size: 1em;
}

#sumas-consec.game .menu label em {
	width: 45%;
}
#sumas-consec.game .menu label select {
	width: 45%;
}

#mult-mxn-cifras.game .menu label em {
	width: 45%;
}
#mult-mxn-cifras.game .menu label select {
	width: 45%;
}


.game {
	margin: auto;
}

.game .clocktime {
	color: hsl(180, 0%, 80%);
}

.game .countdown .time {
	display: block;
	font-size: 12em;
	text-align: center;
}

.game .countdown {
	border-radius: 50%;
	background-color: hsla(200, 90%, 60%, 0.4);
}

#sumas-consec.game .gameplay {
	height: 100%;
}
#sumas-consec.game .gameplay output {
	position: relative;
	height: 100%;
	display: block;
	padding-top: 0.3em;
	font-size: 12em;
	text-align: center;
}
#sumas-consec.game .gameplay output.even { color: red; }
#sumas-consec.game .gameplay output.odd { color: blue; }


#sumas-consec.game .verify input + output {
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}


.game progress {
	width: 100%;
	margin: auto;
}


.game .good { color: green; }
.game .bad  { color: red; }



.game .stat_panel progress {
	display: block;
	width: 17em;
	margin: auto;

	-webkit-appearance: none;
	appearance: none;
}
.game .stat_panel progress::-webkit-progress-bar {
	background-color: #eee;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.game .stat_panel progress::-webkit-progress-value,
.game .stat_panel progress::-moz-progress-bar {
	border: 1px solid #eee;
}

.game .stat_panel p {
	margin-top: 1em;
	width: 15em;
	margin: auto;
	text-align: center;
}
.game .stat_panel p .text {
	padding: 0 1em;
}
.game .stat_panel p .text::after {
	content: ':';
}
.game .stat_panel p .value {
	color: green;
}


.game .operation_panel,
.game .result_panel {
	position: relative;
	font-size: 2em;
	height: 2.3em;
}
.game .operation_panel {
	margin-top: 1em;
	border-bottom: 1px solid #555;
}
.game .result_panel {
	margin-top: 0.3em;
}

.game .operation_panel .operation {
	position: absolute;
	height: 1em;
	bottom: 0.3em;
	left: 1em;
	padding: 0 0.5em;

	border-radius: 0.5em;
	border: 1px solid #555;
}
.game .result_panel .equal {
	position: absolute;
	height: 1em;
	top: 0em;
	left: 1em;
	padding: 0 0.5em;

	border-radius: 0.5em;
	border: 1px solid #555;
}

.game .operation_panel .operand_a {
	position: absolute;
	height: 1em;
	top: 0;

	text-align: right;
	right: 1.5em;
	width: 5.5em;
	margin: 0;
	padding: 0;
	padding-right: 0.5em;

	border-radius: 2em 2em 1em 1em;
	border: 1px solid #555;
}
.game .operation_panel .operand_b {
	position: absolute;
	height: 1em;
	top: 1em;

	text-align: right;
	right: 1.5em;
	width: 5.5em;
	margin: 0;
	padding: 0;
	padding-right: 0.5em;

	border-radius: 1em 1em 2em 2em;
	border: 1px solid #555;
}

.game .result_panel input {
	font-size: 1em;
	position: absolute;
	height: 1em;
	top: 0em;

	text-align: right;
	right: 1.5em;
	width: 5.5em;
	margin: 0;
	padding: 0;
	padding-right: 0.5em;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.game .gamestat label {
	font-size: 1.5em;
	display: block;
	margin-top: 1em;
	width: 100%;
	margin: auto;
	text-align: center;
}
.game .gamestat label em::after {
	padding-right: 1em;
}
.game .gamestat label em::after {
	content: ':';
}
