<?php

$v = $PARAMS;

?>
<h1>Vamos, registráte!!</h1>

<?php
	if (isset($PARAMS['_error'])) {
		$e = $PARAMS['_error'];
		echo "<p class=\"error\">".htmlspecialchars($e)."</p>\n";
	}
?>
<form id="form-alumno-registro" method="post" action="/registro">

<fieldset>
	<legend>Credenciales</legend>

<label id="form-alumno-registro-codigo"><em>Código</em>
<input
	required
	id="codigo"
	name="codigo"
	type="text"
	title="Incluye el código que se te haya proporcionado"
	value="<?php echo $v['codigo']; ?>"
	placeholder="Código"
	autofocus>
</label>
<br>

<label id="form-alumno-registro-email"><em>Email</em>
<input
	required
	id="email"
	name="email"
	type="email"
	title="Incluye tu email"
	value="<?php echo $v['email']; ?>"
	placeholder="Email">
</label>
<br>

<label id="form-alumno-registro-password"><em>Contraseña</em>
<input
	required
	id="password"
	name="password"
	type="password"
	title="Incluye tu contraseña"
	value="<?php echo $v['password']; ?>"
	placeholder="Contraseña">
</label>
<br>

<label id="form-alumno-registro-password"><em>Repite la contraseña</em>
<input
	required
	id="password2"
	name="password2"
	type="password2"
	title="Repite la contraseña que colocaste anteriormente"
	value="<?php echo $v['password2']; ?>"
	placeholder="Repite la contraseña">
</label>
<br>

</fieldset>


<fieldset>
	<legend>Datos personales</legend>

<label id="form-alumno-registro-nombre"><em>Nombre(s)</em>
<input
	required
	id="nombre"
	name="nombre"
	type="text"
	title="Incluye tu nombre o nombres"
	value="<?php echo $v['nombre']; ?>"
	placeholder="Nombre">
</label>
<br>

<label id="form-alumno-registro-apellido_pat"><em>Apellido paterno</em>
<input
	required
	id="apellido_pat"
	name="apellido_pat"
	type="text"
	title="Incluye tu primer apellido"
	value="<?php echo $v['apellido_pat']; ?>"
	placeholder="Apellido paterno">
</label>
<br>

<label id="form-alumno-registro-apellido_mat"><em>Apellido materno</em>
<input
	required
	id="apellido_mat"
	name="apellido_mat"
	type="text"
	title="Incluye tu segundo apellido (o repite el primero si no tienes)"
	value="<?php echo $v['apellido_mat']; ?>"
	placeholder="Apellido materno">
</label>
<br>

<label id="form-alumno-registro-escuela"><em>Escuela</em>
<input class="awesomplete" data-minchars="1" list="escuela_list"
	required
	title="Selecciona alguna escuela"
	id="escuela"
	name="escuela"
	value="<?= isset($v['escuela']) ?
		htmlspecialchars($v['escuela']):''; ?>"
	placeholder="Escuela">
<datalist id="escuela_list">
<?php
	foreach ($v['escuelas'] as $e) {
		$s = htmlspecialchars($e->get_nombre());
		echo "\t<option>$s</option>\n";
	}
?>
</datalist>
</label>
<br>

<label id="form-alumno-registro-nivel-grado"><em>Nivel y grado</em>
<select
	required
	title="Escoge tu nivel de escolaridad"
	id="nivel-grado"
	name="nivel-grado">
	<option value="secundaria-1">Secundaria 1er grado</option>
	<option value="secundaria-2">Secundaria 2do grado</option>
	<option value="secundaria-3">Secundaria 3er grado</option>
	<option value="preparatoria-1">Preparatoria 1er semestre</option>
	<option value="preparatoria-2">Preparatoria 2do semestre</option>
	<option value="preparatoria-3">Preparatoria 3er semestre</option>
	<option value="preparatoria-4">Preparatoria 4to semestre</option>
	<option value="preparatoria-5">Preparatoria 5to semestre</option>
	<option value="preparatoria-6">Preparatoria 6to semestre</option>
</select>
</label>
<br>

<label id="form-alumno-registro-grupo"><em>Grupo</em>
<select
	required
	title="Escoge el grupo al que perteneces"
	id="grupo"
	name="grupo">
	<option value="a">A</option>
	<option value="b">B</option>
	<option value="c">C</option>
	<option value="d">D</option>
	<option value="e">E</option>
	<option value="f">F</option>
</select>
</label>
<br>

</fieldset>

<button id="form-alumno-registro-submit" type="submit">Registrarse</button>

</form>
