<?php

$d = $alumno->get_datos();
$id = $alumno->get_id();

?>
<h1>Registro exitoso <em><?= htmlspecialchars($d->get_nombre()); ?></em></h1>

<p>Ya puedes loguearte mediante el correo <em><?=
htmlspecialchars($d->get_email()); ?></em> y la contraseña
que proporcionaste</p>
