<h1>Área de Administración</h1>

<ul>
<li><a href="/codigos">Buscar o registrar códigos</a></li>
<li><a href="/escuelas">Buscar o registrar escuelas</a></li>
<li><a href="/evaluaciones">Buscar o registrar evaluaciones</a></li>
<li><a href="/admin/alumnos">Buscar alumnos</a></li>
</ul>
