* { doutline: 1px red dotted; }

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-family: 'Mitr', monospace, Verdana, Geneva, sans-serif;
}

input,
output {
	font-family: 'Cousine', monospace;
}

canvas {
	position: absolute;
	z-index: -1;
}

.game {
	font-size: 1.2em;
}

.game h1 {
	text-align: center;
	font-size: 1.6em;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

.game button,
.game input {
	font-size: 1.1em;
	display: block;
	margin: 1em 0;
	margin-left:  auto;
	margin-right:  auto;
	background-color: #fff;
	padding: 0.5em 1em;
	cursor: pointer;
	border: 1px solid #333;
	border-radius: 1em;
}
.game button {
	box-shadow: 0 1px 1px 0px #222;
}
.game button:hover {
	box-shadow: 0 1px 0px 0px #222;
	background-color: #efe;
}
.game button:active {
	position: relative;
	top: 0.2em;
	background-color: #eff;
	box-shadow: 0 0 0 0 #222;
}
.game button:disabled,
.game input:disabled {
	cursor: default;
	color: #bbb;
	border: 1px solid #999;
}

.game .menu label {
	margin-top: 0.5em;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.game .menu label em::after {
	content: ':';
}

.game .menu label em {
	display: inline-block;
	padding: 1em;
	text-align: right;
	font-style: normal;
}

.game .menu label select {
	padding: 0.5em 1em;
	cursor: pointer;
	border: 1px solid gray;
	border-radius: 1em;
	font-size: 1em;
}

#sumas-consec.game .menu label em {
	width: 45%;
}
#sumas-consec.game .menu label select {
	width: 45%;
}

#mult-mxn-cifras.game .menu label em {
	width: 45%;
}
#mult-mxn-cifras.game .menu label select {
	width: 45%;
}

.game .clocktime {
	color: hsl(180, 0%, 80%);
}

.game .countdown .time {
	display: block;
	font-size: 12em;
	text-align: center;
}

.game .countdown {
	border-radius: 50%;
	background-color: hsla(200, 90%, 60%, 0.4);
}

#sumas-consec.game .gameplay {
	height: 100%;
}
#sumas-consec.game .gameplay output {
	position: relative;
	height: 100%;
	display: block;
	padding-top: 0.3em;
	font-size: 12em;
	text-align: center;
}
#sumas-consec.game .gameplay output.even { color: red; }
#sumas-consec.game .gameplay output.odd { color: blue; }


#sumas-consec.game .verify input + output {
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}


.game progress {
	width: 100%;
	margin: auto;
}


.game .good { color: green; }
.game .bad  { color: red; }



.game .stat_panel progress {
	display: block;
	width: 17em;
	margin: auto;

	-webkit-appearance: none;
	appearance: none;
}
.game .stat_panel progress::-webkit-progress-bar {
	background-color: #eee;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.game .stat_panel progress::-webkit-progress-value,
.game .stat_panel progress::-moz-progress-bar {
	border: 1px solid #eee;
}

.game .stat_panel p {
	margin-top: 1em;
	width: 15em;
	margin: auto;
	text-align: center;
}
.game .stat_panel p .text {
	padding: 0 1em;
}
.game .stat_panel p .text::after {
	content: ':';
}
.game .stat_panel p .value {
	color: green;
}


.game .operation_panel,
.game .result_panel {
	position: relative;
	font-size: 2em;
	height: 2.3em;
}
.game .operation_panel {
	margin-top: 1em;
	border-bottom: 1px solid #555;
}
.game .result_panel {
	margin-top: 0.3em;
}

.game .operation_panel .operation {
	position: absolute;
	height: 1em;
	bottom: 0.3em;
	left: 1em;
	padding: 0 0.5em;

	border-radius: 0.5em;
	border: 1px solid #555;
}
.game .result_panel .equal {
	position: absolute;
	height: 1em;
	top: 0em;
	left: 1em;
	padding: 0 0.5em;

	border-radius: 0.5em;
	border: 1px solid #555;
}

.game .operation_panel .operand_a {
	position: absolute;
	height: 1em;
	top: 0;

	text-align: right;
	right: 1.5em;
	width: 5.5em;
	margin: 0;
	padding: 0;
	padding-right: 0.5em;

	border-radius: 2em 2em 1em 1em;
	border: 1px solid #555;
}
.game .operation_panel .operand_b {
	position: absolute;
	height: 1em;
	top: 1em;

	text-align: right;
	right: 1.5em;
	width: 5.5em;
	margin: 0;
	padding: 0;
	padding-right: 0.5em;

	border-radius: 1em 1em 2em 2em;
	border: 1px solid #555;
}

.game .result_panel input {
	font-size: 1em;
	position: absolute;
	height: 1em;
	top: 0em;

	text-align: right;
	right: 1.5em;
	width: 5.5em;
	margin: 0;
	padding: 0;
	padding-right: 0.5em;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.game .gamestat label {
	font-size: 1.5em;
	display: block;
	margin-top: 1em;
	width: 100%;
	margin: auto;
	text-align: center;
}
.game .gamestat label em::after {
	padding-right: 1em;
}
.game .gamestat label em::after {
	content: ':';
}
