<?php
$v = $PARAMS;
?>
<h1>Iniciar sesión como Administrador</h1>


<?php
	if (isset($v['_error']))
		echo "<p class=\"error\">Inicio de sesión fallido: ".
			htmlspecialchars($v['_error'])."</p>";
?>


<form id="form-admin-login" method="post" action="/login-admin">

<fieldset>
	<legend>Credenciales</legend>

<label id="form-admin-login-email"><em>Email</em>
<input
	required
	id="email"
	name="email"
	type="email"
	title="Es el email con el que te registraste"
	value="<?php echo $v['email']; ?>"
	placeholder="Email"
	autofocus>
</label>
<br>

<label id="form-admin-login-password"><em>Contraseña</em>
<input
	required
	id="password"
	name="password"
	type="password"
	title="Incluye tu contraseña"
	value="<?php echo $v['password']; ?>"
	placeholder="Contraseña">
</label>
<br>

</fieldset>

<button id="form-admin-login-submit" type="submit">Entrar</button>

</form>
