<?php

$a = $PARAMS['alumno'];
$id = $a->get_id();
$d = $a->get_datos();
$js = $PARAMS['juegos'];

$print_juego = function($j) use ($id) {
?>
<section>
	<h3><?= htmlspecialchars($j->get_nombre_completo()); ?></h3>
	<p><a href="<?=
		"/alumnos/$id/entrenamiento/".$j->get_nombre();
	?>">Jugar</a></p>
</section>
<?php
}


?>
<h1>Entrenamiento</h1>

<?php
foreach ($js as $v)
	$print_juego($v);
?>
