<?php

$a = $PARAMS['alumno'];
$id = $a->get_id();
$d = $a->get_datos();
$j = $PARAMS['juego'];


?>
<section>
	<h3><?= htmlspecialchars($j->get_nombre_completo()); ?></h3>
	<p>Puntaje <span id="puntaje">0</span></p>
	<p>Intentos <span id="intento">0</span>/<span id="intentos">5</span></p>
	<p id="stat"><p>


	<style>
	#stat {
		display: none;
		padding: 0.5em 1em;
	}
	.error {
		display: block !important;
		background-color: #f00;
		color: #fff;
	}
	</style>
<?php
	echo "\t<article class=\"game\" ".
		"id=\"{$j->get_nombre()}\"></article>";
?>

</section>

<script>
var intento = 0;
var intentos = 5;
var puntaje = [];
function gamestart() {
	console.log('started', '<?= $j->get_nombre(); ?>');
}
function gameover(aciertos, ejercicios) {
	console.log('over', '<?= $j->get_nombre(); ?>', aciertos, ejercicios);

	var text_intento = document.getElementById('intento');
	var text_intentos = document.getElementById('intentos');
	var text_puntaje = document.getElementById('puntaje');
	var text_stat = document.getElementById('stat');

	var max_puntaje = function() {
		var max = -1;
		for (var i = 0; i < puntaje.length; i++)
			if (max < puntaje[i])
				max = puntaje[i];
		return max;
	};

	if (intentos <= intento) {
		text_stat.innerHTML =
			'Ya no puedes jugar, por favor recarga la página';
		text_stat.className = 'error';
	} else {
		puntaje.push(aciertos);
		text_intento.innerHTML = intento + 1;
		text_puntaje.innerHTML = max_puntaje();
		text_stat.className = '';
		intento++;
	}

}
</script>
