<?php

$a = $PARAMS['alumno'];
$id = $a->get_id();
$d = $a->get_datos();
$c = $PARAMS['codigo'];
$e = $PARAMS['escuela'];

?>
<h1>Bienvenida/o <em><?= htmlspecialchars($d->get_nombre()); ?></em></h1>
<p><a href="<?= "/alumnos/$id/evaluaciones"; ?>">Ver evaluaciones</a></p>
<p><a href="<?= "/alumnos/$id/entrenamiento"; ?>">Entrenar</a></p>

<section>
	<h1>Datos</h1>
<dl>
<dt>Email</dt>
<dd><?= htmlspecialchars($d->get_email()); ?></dd>

<dt>Nombre</dt>
<dd><?= htmlspecialchars(
	$d->get_nombre()." ".
	$d->get_apellido_pat()." ".
	$d->get_apellido_mat()
); ?></dd>

<dt>Escuela</dt>
<dd><?= htmlspecialchars($e->get_nombre()); ?></dd>

<dt>Nivel</dt>
<dd><?= htmlspecialchars($d->get_escolaridad()); ?></dd>

<dt>Código usado</dt>
<dd><?= htmlspecialchars($c->get_codigo()); ?></dd>

</dl>
</section>
