<h1>Evaluaciones</h1>


<style>
#search-table { width: 50em; }
#upload-table { width: 50em; }
td {
	text-align: center;
}
</style>


<nav>
<ul>
<li><a href="#evaluacion-upload">Registrar evaluaciones</a></li>
<li><a href="#evaluacion-search">Buscar evaluaciones registradas</a></li>
</ul>
</nav>


<article id="evaluacion-upload">
<h2>Registrar evaluaciones</h2>

<form id="upload-evaluacion" action="/evaluaciones" method="post">

<fieldset>
	<legend>Nueva evaluación</legend>

	<label><em>Nombre</em>
	<input id="upload-nombre" name="nombre"
		pattern="^\S+$"
		title="Nombre sin espacios"
		placeholder="Nombre"
		required>
	<br>

	<label><em>Intentos</em>
	<input id="upload-intentos" name="intentos"
		pattern="^\S+$"
		value="5"
		title="Número de intentos permitidos en cada juego"
		placeholder="Intentos"
		required>
	<br>
</fieldset>

<fieldset>
	<legend>Periódo</legend>

	<label><em>Fecha de inicio</em>
	<input id="upload-inicio" name="inicio"
		type="text"
		title="Fecha en que iniciará la evaluación"
		placeholder="Inicio"
		required>
	<br>

	<label><em>Fecha de término</em>
	<input id="upload-termino" name="termino"
		type="text"
		title="Fecha en que terminará la evaluación"
		placeholder="Término"
		required>
	<br>
</fieldset>

	<button type="submit">Agregar evaluación</button>
</form>
</article>

<script>
window.addEventListener('load', function() {
	var picker_opts = {
		format: function (date) {
			if (!date)
				return '';
			var y = date.getFullYear();
			var m = date.getMonth() + 1;
			var d = date.getDate();
			if (m < 10)
				m = '0' + m;
			if (d < 10)
				d = '0' + d;
			return y + '-' + m + '-' + d;
		},

		parse: function (str) {
			if (!str)
				return new Date();
			var ymd = str.split('-');
			ymd[0] = parseInt(ymd[0], 10);
			ymd[1] = parseInt(ymd[1], 10) - 1;
			ymd[2] = parseInt(ymd[2], 10);
			return new Date(ymd[0], ymd[1], ymd[2]);
		},

		months: [
			'Enero',
			'Febrero',
			'Marzo',
			'Abril',
			'Mayo',
			'Junio',
			'Julio',
			'Agosto',
			'Septiembre',
			'Octubre',
			'Noviembre',
			'Diciembre',
		],

		days: [
			'Dom',
			'Lun',
			'Mar',
			'Mié',
			'Jue',
			'Vie',
			'Sáb',
		],

		today: 'Hoy',
		clear: 'Limpiar',
		close: 'Cerrar',
		// doesn't work when choosing first month of the next year
		// weekStartsMonday: true,
	};

	TinyDatePicker(document.getElementById('upload-inicio'),
		picker_opts);
	TinyDatePicker(document.getElementById('upload-termino'),
		picker_opts);
});
</script>

<script>
window.addEventListener('load', function() {
	var form = document.getElementById('upload-evaluacion');
	form.onsubmit = function(e) {
		e.preventDefault();
		var url = '/evaluaciones';
		var xhr = new XMLHttpRequest();
		xhr.open('POST', url, true);
		xhr.onload = function () {
			var data = JSON.parse(this.responseText);
			if (201 != this.status) {
				var e = data._error;
				if ('object' == typeof e)
					for (var t in e) {
						if (!e.hasOwnProperty(t))
							continue;
						alert(e[t]);
					}
				else
					alert(e);
				return;
			}
			alert('Evaluacion ' + data.nombre + ' registrada');
			form.reset();
		};
		xhr.onerror = function() {
			console.log('POST', url, this);
		};
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.setRequestHeader('Content-Type',
			'application/json; charset=UTF-8');
		xhr.send(JSON.stringify({
			nombre: this.nombre.value,
			intentos: this.intentos.value,
			inicio: this.inicio.value,
			termino: this.termino.value,
		}));
	};
});
</script>



<article id="evaluacion-search">
<h2>Buscar evaluaciones registradas</h2>

<form action="#" id="search-form">
<fieldset>

	<label><em>Buscar cualquiera que contenga</em>
	<input id="search-input" name="search-input"
		pattern="^\S+$"
		title="Evaluación sin espacios"
		placeholder="Evaluación">
	</label>

	<label><em>Filtrar</em>
	<select id="search-type" name="search-type">
		<option value="any" selected>Todas</option>
		<option value="past">Pasadas</option>
		<option value="present">En curso</option>
		<option value="future">Por cursar</option>
	</select>
	</label>

	<table id="search-table">
		<caption>Evaluaciones
			<span class="item-start"
			>0</span>-<span class="item-end"
			>0</span> de <span class="item-total"
			>0</span>
		</caption>
	<thead>
		<tr>
		<th>Evaluación</th>
		<th>Intentos</th>
		<th>Periódo</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
	<tr><td colspan="3">
		<button class="page-first">|&lt;</button>
		<button class="page-prev">&lt;</button>
		<span class="page-any">
			Página <input
				class="page-input"
				type="text"
			> de <span
				class="page-total"
			>0</span>
		</span>
		<button class="page-next">&gt;</button>
		<button class="page-last">&gt;|</button>
	</td></tr>
	</tfoot>
	</table>

</fieldset>
</form>
</article>

<script>
window.addEventListener('load', function() {
	var input = document.getElementById('search-input');
	var type = document.getElementById('search-type');
	var table = document.getElementById('search-table');

	var limit = 5;
	var like = null;
	var time = null;
	var pager;
	var xhr;

	var date_format = function(date) {
		var D = new Date(date);
		var y = D.getFullYear();
		var m = D.getMonth() + 1;
		var d = D.getDate();
		return y + '-' +
			(m < 10 ? '0' + m:m) + '-' +
			(d < 10 ? '0' + d:d);
	};

	var inflate = function(data, offset, limit, td, cb) {
		var total = data.total;
		var count = data.count;
		var items = data.items;
		var i;
		for (i = offset; i < offset + limit; i++) {
			var ii = i - offset;
			if (items.length <= ii) {
				td[ii][0].innerHTML = '-';
				td[ii][1].innerHTML = '-';
				td[ii][2].innerHTML = '-';
				continue;
			}
			td[ii][0].innerHTML = items[ii].nombre;
			td[ii][1].innerHTML = items[ii].intentos;
			td[ii][2].innerHTML = '' +
				date_format(items[ii].fecha_inicio) + ' a ' +
				date_format(items[ii].fecha_termino);
		}
		cb(i - offset);
	};

	var fill = function(offset, limit, td, cb) {
		var url = '/evaluaciones?' +
			'offset=' + encodeURIComponent(offset) + '&' +
			'limit=' + encodeURIComponent(limit) +
			(null !== time ?
				'past' == time ? '&before=now':
				'present' == time ? '&in=now':
				'future' == time ? '&after=now':
					'':
				'') +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function() {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(this.responseText);
			inflate(data, offset, limit, td, cb);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	var refill = function() {
		var url = '/evaluaciones?' +
			'limit=' + encodeURIComponent(limit) +
			(null !== time ?
				'past' == time ? '&before=now':
				'present' == time ? '&in=now':
				'future' == time ? '&after=now':
					'':
				'') +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function () {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(xhr.responseText);
			pager = TablePager({
				table: table,
				offset: 0,
				limit: limit,
				total: data.total,
				onfirst: fill,
				onlast:  fill,
				onprev:  fill,
				onnext:  fill,
				onpage:  fill,
			});
			pager.page(0);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	input.addEventListener('input', function() {
		like = input.value + '';
		like = 0 < like.length ? like:null;
		refill();
	});
	type.addEventListener('change', function() {
		switch (type.value + '') {
		case 'any': time = null; break;
		case 'past': time = 'past'; break;
		case 'present': time = 'present'; break;
		case 'future': time = 'future'; break;
		}
		refill();
	});
	refill();

});
</script>
