<?php

$a = $PARAMS['alumno'];
$id = $a->get_id();
$d = $a->get_datos();
$c = $PARAMS['codigo'];
$e = $PARAMS['escuela'];

?>
<h1>Alumno <em><?= htmlspecialchars($d->get_nombre_completo()); ?></em></h1>
<p><a href="#evaluacion-search">Ver evaluaciones</a></p>

<section>
	<h1>Datos</h1>
<dl>
<dt>Email</dt>
<dd><?= htmlspecialchars($d->get_email()); ?></dd>

<dt>Nombre</dt>
<dd><?= htmlspecialchars(
	$d->get_nombre()." ".
	$d->get_apellido_pat()." ".
	$d->get_apellido_mat()
); ?></dd>

<dt>Escuela</dt>
<dd><?= htmlspecialchars($e->get_nombre()); ?></dd>

<dt>Nivel</dt>
<dd><?= htmlspecialchars($d->get_escolaridad()); ?></dd>

<dt>Código usado</dt>
<dd><?= htmlspecialchars($c->get_codigo()); ?></dd>

</dl>
</section>


<style>
#search-table { width: 50em; }
#upload-table { width: 50em; }
td {
	text-align: center;
}
</style>


<article id="evaluacion-search">
<h2>Evaluaciones</h2>

<form action="#" id="search-form">
<fieldset>

	<label><em>Buscar cualquiera que contenga</em>
	<input id="search-input" name="search-input"
		title="Nombre"
		placeholder="Nombre">
	</label>

	<label><em>Filtrar</em>
	<select id="search-type" name="search-type">
		<option value="any" selected>Todas</option>
		<option value="past">Pasadas</option>
		<option value="present">En curso</option>
		<option value="future">Por cursar</option>
	</select>
	</label>

	<table id="search-table">
		<caption>Evaluaciones
			<span class="item-start"
			>0</span>-<span class="item-end"
			>0</span> de <span class="item-total"
			>0</span>
		</caption>
	<thead>
		<tr>
		<th>Evaluación</th>
		<th>Intentos</th>
		<th>Periodo</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
	<tr><td colspan="3">
		<button class="page-first">|&lt;</button>
		<button class="page-prev">&lt;</button>
		<span class="page-any">
			Página <input
				class="page-input"
				type="text"
			> de <span
				class="page-total"
			>0</span>
		</span>
		<button class="page-next">&gt;</button>
		<button class="page-last">&gt;|</button>
	</td></tr>
	</tfoot>
	</table>

</fieldset>
</form>
</article>

<script>
var ID = <?= $id; ?>;
window.addEventListener('load', function() {
	var input = document.getElementById('search-input');
	var type = document.getElementById('search-type');
	var table = document.getElementById('search-table');

	var limit = 5;
	var like = null;
	var time = null;
	var pager;
	var xhr;

	var create_link = function(href, text) {
		var div = document.createElement('div');
		var t = document.createElement('span');
			t.innerHTML = text;
		var s = document.createElement('sub');
		var a = document.createElement('a');
			a.href = href;
			a.innerHTML = 'Reporte';
			s.appendChild(a);
		div.appendChild(t);
		div.appendChild(s);
		return div;
	};

	var create_eval = function(item) {
		return create_link('/admin/alumnos/' + ID +
			'/evaluaciones/' + item.id, item.nombre);
	};

	var date_format = function(date) {
		var D = new Date(date);
		var y = D.getFullYear();
		var m = D.getMonth() + 1;
		var d = D.getDate();
		return y + '-' +
			(m < 10 ? '0' + m:m) + '-' +
			(d < 10 ? '0' + d:d);
	};

	var inflate = function(data, offset, limit, td, cb) {
		var total = data.total;
		var count = data.count;
		var items = data.items;
		var i;
		for (i = offset; i < offset + limit; i++) {
			var ii = i - offset;
			if (items.length <= ii) {
				td[ii][0].innerHTML = '-';
				td[ii][1].innerHTML = '-';
				td[ii][2].innerHTML = '-';
				continue;
			}
			td[ii][0].innerHTML = '';
				td[ii][0].appendChild(create_eval(items[ii]));
			td[ii][1].innerHTML = items[ii].intentos;
			td[ii][2].innerHTML = '' +
				date_format(items[ii].fecha_inicio) + ' a ' +
				date_format(items[ii].fecha_termino);
		}
		cb(i - offset);
	};

	var fill = function(offset, limit, td, cb) {
		var url = '/evaluaciones?' +
			'offset=' + encodeURIComponent(offset) + '&' +
			'limit=' + encodeURIComponent(limit) +
			(null !== time ?
				'past' == time ? '&before=now':
				'present' == time ? '&in=now':
				'future' == time ? '&after=now':
					'':
				'') +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function() {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(this.responseText);
			inflate(data, offset, limit, td, cb);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	var refill = function() {
		var url = '/evaluaciones?' +
			'limit=' + encodeURIComponent(limit) +
			(null !== time ?
				'past' == time ? '&before=now':
				'present' == time ? '&in=now':
				'future' == time ? '&after=now':
					'':
				'') +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function () {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(xhr.responseText);
			pager = TablePager({
				table: table,
				offset: 0,
				limit: limit,
				total: data.total,
				onfirst: fill,
				onlast:  fill,
				onprev:  fill,
				onnext:  fill,
				onpage:  fill,
			});
			pager.page(0);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	input.addEventListener('input', function() {
		like = input.value + '';
		like = 0 < like.length ? like:null;
		refill();
	});
	type.addEventListener('change', function() {
		switch (type.value + '') {
		case 'any': time = null; break;
		case 'past': time = 'past'; break;
		case 'present': time = 'present'; break;
		case 'future': time = 'future'; break;
		}
		refill();
	});
	refill();

});
</script>
