<h1>Alumnos</h1>


<style>
#search-table { width: 50em; }
#upload-table { width: 50em; }
td {
	text-align: center;
}
</style>


<article id="alumno-search">
<h2>Buscar alumnos</h2>

<form action="#" id="search-form">
<fieldset>

	<label><em>Buscar cualquiera que contenga</em>
	<input id="search-input" name="search-input"
		title="Nombre o correo"
		placeholder="Nombre|Correo">
	</label>

<!--
	<label><em>Filtrar</em>
	<select id="search-type" name="search-type">
		<option value="any" selected>Todas</option>
		<option value="past">Pasadas</option>
		<option value="present">En curso</option>
		<option value="future">Por cursar</option>
	</select>
	</label>
-->

	<table id="search-table">
		<caption>Alumnos
			<span class="item-start"
			>0</span>-<span class="item-end"
			>0</span> de <span class="item-total"
			>0</span>
		</caption>
	<thead>
		<tr>
		<th>Correo</th>
		<th>Código</th>
		<th>Nombre</th>
		<th>Escuela</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
	<tr><td colspan="4">
		<button class="page-first">|&lt;</button>
		<button class="page-prev">&lt;</button>
		<span class="page-any">
			Página <input
				class="page-input"
				type="text"
			> de <span
				class="page-total"
			>0</span>
		</span>
		<button class="page-next">&gt;</button>
		<button class="page-last">&gt;|</button>
	</td></tr>
	</tfoot>
	</table>

</fieldset>
</form>
</article>

<script>
window.addEventListener('load', function() {
	var input = document.getElementById('search-input');
	var type = document.getElementById('search-type');
	var table = document.getElementById('search-table');

	var limit = 5;
	var like = null;
	var time = null;
	var pager;
	var xhr;

	var create_link = function(href, text) {
		var a = document.createElement('a');
			a.href = href;
			a.innerHTML = text;
		return a;
	};

	var create_email = function(item) {
		return create_link('/admin/alumnos/' + item.id, item.email);
	};

	var inflate = function(data, offset, limit, td, cb) {
		var total = data.total;
		var count = data.count;
		var items = data.items;
		var i;
		for (i = offset; i < offset + limit; i++) {
			var ii = i - offset;
			if (items.length <= ii) {
				td[ii][0].innerHTML = '-';
				td[ii][1].innerHTML = '-';
				td[ii][2].innerHTML = '-';
				td[ii][3].innerHTML = '-';
				continue;
			}
			td[ii][0].innerHTML = '';
				td[ii][0].appendChild(create_email(items[ii]));
			td[ii][1].innerHTML = items[ii].codigo;
			td[ii][2].innerHTML = items[ii].nombre;
			td[ii][3].innerHTML = items[ii].escuela;
		}
		cb(i - offset);
	};

	var fill = function(offset, limit, td, cb) {
		var url = '/admin/alumnos?' +
			'offset=' + encodeURIComponent(offset) + '&' +
			'limit=' + encodeURIComponent(limit) +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function() {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(this.responseText);
			inflate(data, offset, limit, td, cb);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	var refill = function() {
		var url = '/admin/alumnos?' +
			'limit=' + encodeURIComponent(limit) +
			(null !== time ?
				'past' == time ? '&before=now':
				'present' == time ? '&in=now':
				'future' == time ? '&after=now':
					'':
				'') +
			(null !== like ?
				'&like=' + encodeURIComponent(like):
				'');

		if (xhr)
			xhr.abort();
		xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.setRequestHeader('Accept', 'application/json');
		xhr.onload = function () {
			if (200 != this.status) {
				console.log('GET', url, this);
				return;
			}
			var data = JSON.parse(xhr.responseText);
			pager = TablePager({
				table: table,
				offset: 0,
				limit: limit,
				total: data.total,
				onfirst: fill,
				onlast:  fill,
				onprev:  fill,
				onnext:  fill,
				onpage:  fill,
			});
			pager.page(0);
			xhr = null;
		};
		xhr.onerror = function() {
			console.log('GET', url, this);
			xhr = null;
		};
		xhr.send();
	};

	input.addEventListener('input', function() {
		like = input.value + '';
		like = 0 < like.length ? like:null;
		refill();
	});
/*
	type.addEventListener('change', function() {
		switch (type.value + '') {
		case 'any': time = null; break;
		case 'past': time = 'past'; break;
		case 'present': time = 'present'; break;
		case 'future': time = 'future'; break;
		}
		refill();
	});
*/
	refill();

});
</script>
